*.o
*.DS_store
*bin*
*.depend*
*.extheader*
*test*
*.swp
*tags
*data*
*report*
*tar*
*blend.jpg
*bounding*
*png
*keypoints
*__py*
*project2/Blender/Blender
*project2/Harris/HarrisDetector
*project2/descriptor/src/descriptor
*project3/

# Directories #
/final/paper/*
/final/img/*
/final/pnt/*
/final/jpg/*
/final/blender/*
/final/jpg_1280/*
*grid/
*warpped/
*0.5jpg/
*grid_original/
*video/

